[core]
	editor = vim
[user]
	name = wangfei
	email = wangfei@deepin.org
[help]
	autocorrect = 1
[merge]
	tool = extMerge
[mergetool "extMerge"]
	cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = false
[diff]
	external = extDiff
