[https]
	proxy = https://127.0.0.1:7890
[http]
	proxy = http://127.0.0.1:7890
[core]
	editor = nvim
[user]
	name = wangfei
	email = wangfei@deepin.org
[help]
	autocorrect = 1
[pull]
	rebase = true
[remote]
	pushdefault = origin
